@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.text-3xxl {
  font-size: 2rem;
}
.text-4xl2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.text-primary {
  color: #2FACD6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
